<!-- /templates/customers/login.liquid -->
<section id = 'login'>

<div class = 'login_card'>
    <div class = 'login_child left_side'>
        <div class = 'face face_one'>
            <h2 style="text-align: center;">Autentificare</h2>

            <div class = 'user_icon'>
                <i class="fa-solid fa-user-gear"></i>
            </div>

            {% form 'customer_login' %}
            <div class="login_form">
                <input type = 'text' id = 'username' placeholder="Username" name = 'customer[email]'/>
                <input type = 'password' id = 'pass' placeholder="Parola" name = 'customer[password]'/>
                {{ form.errors | default_errors}}
                <a href = '#'>Ai uitat parola?</a>

                <button class = 'login_button' type = 'submit'>Autentificare <i class="fa-solid fa-arrow-right-to-bracket"></i></button>
            </div>
            {% endform %}

        </div>

        <div class = 'face face_two'>
            <h2 style="text-align: center;">Inregistrare</h2>
            <div class="login_form">

                <input type = 'text' id = 'register_username' placeholder="Username"/>
                <input type = 'text' id = 'register_mail' placeholder="Email"/>
                <input type = 'text' id = 'register_phone' placeholder="Telefon"/>
                <input type = 'password' id = 'register_pass' placeholder="Parola"/>

                <button class = 'login_button'>Inregistrare <i class="fa-solid fa-arrow-right-to-bracket"></i></button>
            </div>
        </div>

    </div>

    <div class = 'login_child right_side' style="background-color: transparent;">

        <div class = 'face_welcome face_one'>
            <h1>Salutare!</h1>
            <p class = 'info'>Nu ai un cont? Inregistreaza-te</p>
            <button class = 'sign_up' onclick="swap_register()">Inregistrare</button>
        </div>

        <div class="face_welcome face_two invis">
            <h1>Bine ai venit!</h1>
            <p class = 'info'>Ai deja un cont?</p>
            <button class = 'sign_up' onclick="swap_login()">Autentificare</button>
        </div>

    </div>

</div>

</section>
