
<div class = 'section_content cards_wrapper'>
    <div class = 'card'>
        <i class="fa-solid fa-clock-rotate-left"></i>
    <h2>Durata procesului </h2>
        <p>Durata standard 14-21 zile lucrătoare. Perioada este influențată de disponibilitatea pieselor.
        </p>
    </div>

    <div class = 'card'>
        <i class="fa-solid fa-award"></i>
        <h2>Garanție service</h2>
        <p>Garanție de până la 24 de luni. Diferă în funcție de produs și de reparația efectuată.
        </p>
    </div>

    <div class = 'card'>
        <i class="fa-solid fa-hand-holding-dollar"></i>
        <h2>No fix – No fee </h2>
        <p>Clientul este taxat doar pentru reparațiile reușite. Diagnoza este contra cost dacă se refuză reparatia.
        </p>
    </div>

    <div class = 'card'>
        <i class="fa-solid fa-truck-ramp-box"></i>
        <h2>Transport gratuit</h2>
        <p>Produsele se ridică și se returnează prin curier, la sediul clientului. Transportul gratuit în orașele mari.
        </p>
    </div>

    <div class = 'card'>
        <i class="fa-solid fa-sack-dollar"></i>
        <h2>Tarife fixe</h2>
         <p>După efectuarea diagnozei, tariful reparației este comunicat clientului. Acesta nu se modifică pe parcurs.

        </p>
    </div>

</div>


{% schema %}

{
    "name": "Fancy cards",
    "tag": "section",
    "class": "lp_content full_screen no_border",
    "settings":[       
    ],   
     "templates": [
    "page"
  ]
    
}

{% endschema %}