
<div class = 'card'>
    <i class="fa-solid fa-clock"></i>
    <p>Durata procesului</p>
    <span>Durata standard 14-21 zile lucrătoare. Perioada este influențată de disponibilitatea pieselor.</span>
</div>


<div class = 'card'>
    <i class="fa-solid fa-coins"></i>
    <p>Tarife fixe</p>
    <span>După efectuarea diagnozei, tariful reparației este comunicat clientului. Acesta nu se modifică pe parcurs. </span>
</div>


<div class = 'card'>
    <i class="fa-solid fa-circle-check"></i>
    <p>Urgenta</p>
    <span>Aici este textul ala al nostru lung si nu mai stiu ce </span>
</div>


<div class = 'card'>
    <i class="fa-solid fa-circle-check"></i>
    <p>Contracte service</p>
    <span>Aici este textul ala al nostru lung si nu mai stiu ce </span>
</div>

{% schema %}

{
    "name": "Cards part",
    "class":"cards",
    "settings": [
            {
                "id": "card1",
                "label": "Primul card",
                "type": "text",
                "default": "Salutr"
            }
    ]
}

{% endschema %}