<h4> {{ section.settings.heading1 }} </h4>
{% schema %}

{
    "name": "Top banner part",
    "class":"top_banner",
    "settings": [
            {
                "id": "heading1",
                "label": "Titlu mare",
                "type": "text",
                "default": "Salutr"
            }
    ]
}

{% endschema %}