
<div class = 'section_content'>
    <div class = 'fake_wrapper' style = "
     {% if section.settings.background_image != blank %} 
       background-image: url({{ section.settings.background_image | img_url: '200x' }}) 
       {% else %}
       background-color: red;
       {% endif %}
    ">
        tata
    </div>
</div>


{% schema %}
{
    "name": "Modele service",
    "tag": "section",
    "class": "lp_content full_screen no_border",
    "settings":[
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Imagine de fundal"
        }
    ],
    "blocks": [
        {
            "name": "Modul",
            "type": "serviced_module",
            "settings": [
                {
                        "type": "image_picker",
                        "id": "module_pic",
                        "label": "Poza modul"
                },
                {
                    "type": "text",
                    "id": "module_text",
                    "label": "Text modul"  
                }
            ]
        }
    ],
    "presets": [
    {
      "name": "Modele service",
      "category": "Custom"
    }
  ],
   "templates": [
  "page"
]
}
{%  endschema %}