<div class = 'section_content'>

        <div class="card_step">
            <div class="step_image">
                <i class="fa-solid fa-hand-holding-dollar" style="color: #69BE6B;"></i>
            </div>
            <p>Solicitati o oferta personalizata </p>
            <div class="arrow">
            </div>
        </div>

        <div class="card_step">
            <div class="step_image">
                <i class="fa-solid fa-box-open" style="color: #C55300;"></i>
            </div>
            <p>Pregatiti echipamentele pentru a fi preluate de curier </p>
            <div class="arrow">
            </div>
        </div>

        <div class="card_step">
            <div class="step_image">
                <i class="fa-solid fa-truck-ramp-box" style="color: #5297CE;"></i>
            </div>
            <p>Produsele sunt preluate si livrate la service </p>
            <div class="arrow">
            </div>
        </div>
        
        <div class="card_step">
            <div class="step_image">
                <i class="fa-solid fa-comment-dollar" style="color: #94B49F;"></i>
            </div>
            <p>Dupa efectuarea diagnozei, sunteti informat asupra reparatiilor necesare. </p>
            <div class="arrow">
            </div>
        </div>
        
        <div class="card_step">
            <div class="step_image">
                <i class="fa-solid fa-truck" style="color: #277BC0"></i>
            </div>
            <p>Echipamentele reparate vor fi livrate inapoi la sediul firmei </p>
            <div class="arrow">
            </div>
        </div>
        
</div>

{% schema %}
    {
        "name": "Pasii procesului",
        "tag": "section",
        "class": "lp_content no_border steps",
        "presets": [
            {
                "name": "Pasi proces",
                "category": "Custom"
            }
        ],
        "templates": ["page"]
    }
{% endschema %}