

{{'text-media.css' | asset_url | stylesheet_tag}}
<p>
{{ section.settings.text_content }}
</p>

{{ section.settings.image | img_url: '480' | img_tag }}
{% schema %}

{
    "name": "Text and Media",
    "tag": "section",
    "class": "lp_content text_media",
    "settings":[
        {
            "type": "text",
            "id": "text_content",
            "label": "Text content",
            "default": "Mama are mere"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image content"
        }
    ],
    "presets": [
      {
        "name": "Text and media",
        "category": "Custom"
      }
    ],
     "templates": [
    "page"
  ]
    
}

{% endschema %}