.top_banner
{
    width: 100%;
    position: relative;
}
.top_banner::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('/assets/new-banner-bg.jpg');
    background-size: 100%;
    z-index: -1;
    opacity: .8;

}
.wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1380px;
    margin: auto;
}

.wrapper .left_part
{
    display: flex;
}

.wrapper .right_part{
    display: flex;
    padding: 40px 20px;
}

.wrapper .panel{
    width: max-content;
    background-color: rgba(0,0,0, .3);
    backdrop-filter: blur(5px);
    width: 600px;
}

.panel p{
    color: white;
}

.panel .heading1{
    font-size: 44px;
    font-weight: bold;
    padding: 20px 30px 10px;
}

.panel .splitter
{
    width: calc(100% - 20px);
    height: 4px;
    border-radius: 10px;
    background-color: white;
    display: block;
    margin: 15px 10px;
}

.panel .sub_heading
{
    font-size: 20px;
    font-weight: bold;
    padding: 0px 30px;
}

.panel .input_wrapper
{
    width: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    padding: 0px 30px;
}
.panel .input_wrapper input{
    width: calc(100% - 40px);
    height: 40px;
    outline: none;
    font-size: 20px;
}

.panel .input_wrapper .search_icon{
    width: 46px;
    height: 46px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F18537;
    color: white;
    cursor: pointer;
}

.wrapper .tray{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FFE6B7;
    margin-top: 30px;
    padding: 20px 0px;
}

.wrapper .tray .item
{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 7px;
}

.wrapper .tray .item i {
    font-size: 35px;
    color: #F18537;
}

.wrapper .tray .item span{
    font-size: 18px;
    margin-left: 2px;
}


/* End first section  */

.logos_band 
{
    width: 100%;
    text-align: center;
    background-color: #DBDBDB;
}

.cards
{
    background-color: #FFE6B7;
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    
}

.card{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-left: 2px solid gray;
    align-items: center;
    padding: 20px;
}
.card:last-child{
    border-right: 2px solid gray;
}
.card p{
    font-weight: bold;
    padding: 0px;
    margin: 10px 0px;
}

.card i{
    font-size: 40px;
    color: #F18537;
}

.card span{
    text-align: center;
}

.blogs
{
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
    margin: 15px 0px;
    width: calc(100% - 70px);
    justify-content: center;
}

.blog{
    flex: 1;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: 2px solid #FFE6B7;
    padding: 5px;;
    margin: 0px 5px;
}

.blog::before{
    content: '';
    position: relative;
    top: -7px;
    left: 0px;
    width: calc(100% + 12px);
    height: 3px;
    background-color: #F18537;
    opacity: 0;
    transition: opacity .4s;
}

.blog:hover::before{
    opacity: 1
}

.blog .image_wrapper
{
    max-height: 150px;
    overflow: hidden;
}

.blog p{
    padding: 10px 0px;
    margin: 0px 0px 10px 0px;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.blog p::before{
    content: '';
    position: absolute;
    bottom: 0px;
    width: 80%;
    height: 1px;
    left: 10%;
    background-color: #CCCCCC;
}

.blog .blog_content
{
    margin: 0px 10px;
    background-color: white;
    margin-top: -15px;
}

.our_services
{
    width: 100%;
    height: 500px;
    position: relative;
    backdrop-filter: brightness(0);
}

.our_services .overlay
{
    position: absolute;
    width: 100%;
    height: 100%;;
    background-size: 100%;
    background-position-y: -350px;
    z-index: -1;
    filter: blur(3px);
}

.our_services .os_title
{
    background-color: rgba(219, 219, 219,.7);
    font-weight: bold;
    padding: 10px 20px;
    font-size: 24px;
    color: black;
}

.our_services .os_items
{
    display: flex;
    width: 1380px;
    margin: 0px auto;

}

.os_item{
    flex: 1;
}

.os_item-circle
{
    width: 250px;
    height: 250px;
    background-color: rgba(255,255,255,.5);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.os_item-circle:hover{
    background-color: #F18537;
    color: white !important;
}

.os_item-circle i{
    font-size: 70px;
}

.os_item-circle p{
    font-size: 18px;
    font-weight: bold;
    user-select: none;
}