.lp_content
{
    margin: 20px 0px;
}

.lp_content:not(.no_border)
{        
    border-bottom: 3px solid orange;
}

.lp_content .section_content{
    width: 1140px;
    margin: auto;
}

.title
{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.lp_content.full_screen .section_content{
    width: calc(100% - 40px);
    padding: 0px 20px;
}

.lp_content.text_media .section_content{
    display: grid;
    grid-template-columns: 640px 500px;
    grid-template-rows: 1fr;
    padding: 20px 10px;

}

.lp_content.media_text .section_content{
    display: grid;
    grid-template-columns: 500px 640px;
    grid-template-rows: 1fr;
    margin: auto;
    padding: 20px 10px;
}

.section_text_part p{
    font-size: 18px;   
    margin: 20px 0px;
    padding: 0px;
}

.section_text_part h2{
    text-align: center;
}

.lp_content .section_content.cards_wrapper 
{
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.card
{
    width: 280px;
    height: 330px;
    background-color: #FFA500;
    padding: 10px;
    border-radius: 5px;
    margin: 0px 20px;
}

.card i 
{
    display: block;
    margin: auto;
    font-size: 80px;
    text-align: center;
    color: #3A5BA0;
}

.card h2{
    margin-top: 10px;
    text-align: center;
}

.card p{
    padding: 0px 20px;
    text-align: center;
    font-weight: 600;
    color: #4A4A4A;
}

.lp_content.models .section_content{
    padding: 50px 20px;
}

.lp_content.models .section_content h1{
    text-align: center;
}

.models_wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.model_repaired
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 20px;
    border: 2px solid black;
    margin: 0px 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,.24);
    border-radius: 5px;
}

.model_repaired p{
    margin: 20px 0px;
}

.lp_content.service_brands .section_content{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
}

.lp_content.service_brands .section_content .logo_card
{
    margin: 20px 15px;
}