.lp_content
{
    margin: 20px 0px;
}

.lp_content:not(.no_border)
{        
    border-bottom: 3px solid orange;
}

.lp_content .section_content{
    width: 1140px;
    margin: auto;
}

.title
{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.lp_content.full_screen .section_content{
    width: calc(100% - 40px);
    padding: 0px 20px;
}

.lp_content.text_media .section_content{
    display: grid;
    grid-template-columns: 640px 500px;
    grid-template-rows: 1fr;
    padding: 20px 10px;

}

.lp_content.media_text .section_content{
    display: grid;
    grid-template-columns: 500px 640px;
    grid-template-rows: 1fr;
    margin: auto;
    padding: 20px 10px;
}

.section_text_part p{
    font-size: 18px;   
    margin: 20px 0px;
    padding: 0px;
}

.section_text_part h2{
    text-align: center;
}

.lp_content .section_content.cards_wrapper 
{
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.card
{
    width: 280px;
    height: 330px;
    background-color: #FFA500;
    padding: 10px;
    border-radius: 5px;
    margin: 0px 20px;
}

.card i 
{
    display: block;
    margin: auto;
    font-size: 80px;
    text-align: center;
    color: #3A5BA0;
}

.card h2{
    margin-top: 10px;
    text-align: center;
}

.card p{
    padding: 0px 20px;
    text-align: center;
    font-weight: 600;
    color: #4A4A4A;
}

.lp_content.models .section_content{
    padding: 50px 20px;
}

.lp_content.models .section_content h1{
    text-align: center;
}

.models_wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.model_repaired
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 20px;
    border: 2px solid black;
    margin: 0px 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,.24);
    border-radius: 5px;
}

.model_repaired p{
    margin: 20px 0px;
}

.lp_content.service_brands .section_content{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
}

.lp_content.service_brands .section_content .logo_card
{
    margin: 20px 15px;
}

.lp_content.steps .section_content{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;;
}

.card_step
{

    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    color: #4A4A4A;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    padding-left: 30px;
}

.card_step .step_image 
{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_step .step_image i{
    font-size: 60px;
}

.card_step p{
    z-index: 9999;
    text-align: center;
    font-weight: 700;
    padding: 0px 10px;

}

.card_step .arrow
{
    height: 104%;
    margin-top: -2%;
    width: 55px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: -20px;
    clip-path: polygon(100% 0%,113% 50%,100% 100%,2% 100%,58% 50%, 0% 0%);
    z-index: 9;
    background-image: linear-gradient(180deg, transparent 2%, white 2% 98%,transparent 98% 100%);
}

.card_step .arrow::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 54.5%;
    background-color: orange;
    border-radius: 20px;
    transform-origin: top;
    transform: rotate(-20deg);
}

.card_step .arrow::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 54.5%;
    background-color: orange;
    border-radius: 20px;
    bottom: 0px;
    transform-origin: bottom;
    transform: rotate(20deg);
}

.card_step::after{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
    position: absolute;
    color: white;
    left: 20px;
    opacity: .5;
    user-select: none;
    top: 0px;
    background: -webkit-linear-gradient(orange, #FDC62B);
    -webkit-background-clip: text;
    z-index: -1;
    -webkit-text-fill-color: transparent;
}

.card_step:nth-child(1)::after{
    content: '1';
}

.card_step:nth-child(2)::after{
    content: '2';
}


.card_step:nth-child(3)::after{
    content: '3';
}

.card_step:nth-child(4)::after{
    content: '4';
}

.card_step:nth-child(5)::after{
    content: '5';
}