.lp_content
{
    border-bottom: 3px solid orange;
    margin: 20px 0px;
}

.lp_content.text_media .section_content{
    width: 1380px;
    display: grid;
    grid-template-columns: 800px 500px;
    grid-template-rows: 1fr;
    margin: auto;
    padding: 20px 10px;

}

.section_text_part p{
    font-size: 18px;   
    margin: 20px 0px;
    padding: 0px;
}

.section_text_part h2{
    text-align: center;
}